html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./src/Pics/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.front-page-div {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    bottom: 0px;
    position: relative;
    top: 13rem;

}

.auth-buttons-div {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
}

.title {
    font-size: 6rem;
    color: greenyellow;
}

.auth-buttons {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 1.5rem;
    justify-content: center;
    line-height: 1em;
    width: 3rem;
    width: 10rem;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.auth-form {
    height: 35.625rem;
    width: 25rem;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;

}

.auth-form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.auth-label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.auth-input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(49, 186, 190, 0.2);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

.exit-button {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ffffff;
    color: #080710;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    left: 22rem;
}

.submit-button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.search-form {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}

.search-form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.search-form-label {
    display: block;
    font-size: 22px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.search-form-input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #FFFACD;
    border: 1px solid #FFD700;
    color: #333333;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 25px;
    font-weight: 300;
}

.search-submit {
    --bg: #e74c3c;
    --text-color: #fff;
    position: relative;
    width: 150px;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
    font-size: 1rem;
}

.search-submit:hover {
    opacity: 1;
}

.search-submit:active {
    top: 4px;
    box-shadow: #c0392b 0px 3px 2px, #000 0px 3px 5px;
}

.title-solar {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0px;
    height: 20%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.search-form-div {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    height: 70%;
}

.main-app-div {
    height: 90%;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    top: 3rem;
    background-color: rgba(255, 255, 255, 0.13);
}







.solar-info-div {
    height: 30%;
    border-top: solid 2px black;
    display: flex;
    flex-direction: column;
}


.solar-info-top {
    align-items: center;
    justify-content: center;
    display: flex;
}

.solar-info-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    color: #FFD700;
    font-weight: bold;
}

.left,
.right {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solar-data {
    margin: 5px;
}

.city-info {
    font-size: 2rem;
    margin: 5px;
    color: #FFD700;
    font-weight: bold;
}

.error-message {
    font-size: 5rem;
    color: red;
    font-weight: bold;
    position: relative;
    top: 10rem;
}


.admin-button {
    position: absolute;
    right: 0rem;
    top: 0rem;
    height: 2.5rem;
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;

}

.admin-button:hover {
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}